<div class="w-full flex flex-col bg-slate-100 bg-opacity-90 overflow-hidden hover:shadow">
  <p class="text-center text-frnBase bg-frnHot">This site is under modification. please be sure to check back often as i'm making changes frequently. Frank !!.</p>
  <!-- Header Actions -->
  <!-- <app-header-action class="border-b border-frnDark shadow"></app-header-action> -->
  <!-- Logo -->
  <div class="flex justify-between items-center px-8 py-4">
    <img class="w-14 h-14 cursor-pointer" (click)="onLogoClick()"  src="assets/svgs/logos/frn-logo-bk.svg" alt="" srcset="">
    <!-- Nav -->
    <app-navigation></app-navigation>
    <app-facon-sm-regular (click)="onLoginClick()" class="p-2 rounded-full hover:bg-frnAccent" [icon]="'solid/unlock-keyhole.svg'"></app-facon-sm-regular>
  </div>
</div>
