<div class="w-full flex flex-col gap-4">
  <p>articles works!</p>
  <div class="w-full flex gap-4 px-10">
    <app-article-list class="flex-1 w-3/4 border-x px-10 flex flex-col gap-2"></app-article-list>
    <div class="flex-2 w-1/4 flex flex-col gap-4 items-center bg-coreDeepSky">
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

</div>
