<div class="w-full flex justify-center items-center py-2">
  <div class="w-11/12 rounded-xl hero-container flex flex-col gap-6 bg-slate-300 text-center px-16 md:py-32 py-10">
    <!-- Intro name -->
    <p class="text-frnBase md:text-10xl text-2xl">Hello!</p>
    <p class="text-frnBase md:text-10xl text-4xl">I'm Frank Leons Malisawa</p>

    <div class="flex flex-col justify-center items-center text-center p-4">
      <span class="text-frnHot text-6xl" >{{currentTopic.title}}</span> 
    </div>
    <!-- Intro name End -->
    <div class="md:flex md:flex-row flex flex-col justify-center items-center gap-4">
      <!-- location -->
      <div class="cursor-default gap-2 flex justify-between p-2 rounded-lg border border-frnBase">
        <img class="w-6 h-6 block hover:bg-frnBase hover:bg-opacity-30 rounded-full p-1" src="{{'assets/svgs/solid/map-pin.svg'}}"/>
        <a class="no-underline text-slate-500">Dar Es Salaam, Tanzania</a>
        <div></div>
      </div>
      <!-- github -->
      <div class="cursor-default gap-2 flex justify-between p-2 rounded-lg border border-frnBase">
        <img class="w-6 h-6 block hover:bg-frnBase hover:bg-opacity-30 rounded-full p-1" src="{{'assets/svgs/brands/github.svg'}}"/>
        <a href="https://github.com/frinnolab" target="_blank" class=" block underline text-slate-500">github/frinnolab</a>
        <div></div>
      </div>
  
    </div>
  

  </div>
</div>
