<div class="w-full flex justify-center items-center py-2">
  <div class="w-11/12 rounded-xl hero-container flex flex-col items-center gap-4 bg-slate-300 text-center px-16 py-8">
    <!-- Intro name -->
    <p class="text-frnBase lg:text-4xl: md:text-2xl text-lg">Hello!</p>
    <p class="text-frnBase lg:text-4xl md:text-2xl text-xl">I'm Frank Leons Malisawa</p>
    <!-- location -->
    <div class="cursor-default flex-1 gap-2 flex justify-between p-2 rounded-xl bg-slate-400">
      <img class="w-6 h-6 block hover:bg-frnBase hover:bg-opacity-30 rounded-full p-1" src="{{'assets/svgs/solid/map-pin.svg'}}"/>
      <a class="no-underline text-frnBase">Dar Es Salaam, Tanzania</a>
      <div></div>
    </div>

    <div class="flex flex-col justify-center items-center text-center p-4 md:p-2">
      <p class="text-frnHot lg:text-6xl md:text-4xl" >{{currentTopic.title}}</p> 
    </div>
    <!-- Intro name End -->
    <div class="md:flex md:flex-row flex flex-col justify-center items-center gap-4">
      <!-- github -->
      <div class="cursor-default gap-2 flex justify-between p-2 rounded-lg border border-frnBase">
        <img class="w-6 h-6 block hover:bg-frnBase hover:bg-opacity-30 rounded-full p-1" src="{{'assets/svgs/brands/github.svg'}}"/>
        <a href="https://github.com/frinnolab" target="_blank" class=" block underline text-slate-500">View repos</a>
        <div></div>
      </div>
      <!-- location -->
      <!-- <div class="cursor-default gap-2 flex justify-between p-2 rounded-lg border border-frnBase">
        <img class="w-6 h-6 block hover:bg-frnBase hover:bg-opacity-30 rounded-full p-1" src="{{'assets/svgs/solid/map-pin.svg'}}"/>
        <a class="no-underline text-slate-500">Dar Es Salaam, Tanzania</a>
        <div></div>
      </div> -->
  
    </div>
  

  </div>
</div>
