<div class="w-full flex flex-col justify-between lg:gap-12 gap-8 text-frnDark lg:py-10">
  <!-- <p class="text-left text-2xl text-frnAccent text-opacity-80">For the Nerds ></p> -->
  <p class="text-4xl text-frnBase text-center">Tools & Technologies I Use</p>

  <div class="flex justify-center items-center py-4">
    <div class="flex-1 flex justify-between" *ngFor="let tool of tools" >
      <img class="flex-1 block md:w-10 md:h-10 w-6 h-6"  src="{{tool.icon??''}}" alt="" srcset="">
      <!-- <i class="{{tool.icon}}"></i> -->
    </div>
  </div>
</div>
