<div class="w-full  flex justify-between gap-4 px-4 py-2 border-b-2">
<!-- Profile Image -->
<img class="block w-1/6 h-1/6 rounded-full" src="assets/images/small_01.jpg" alt="" srcset="">
<!-- Bio -->
<div class="w-full flex flex-col gap-4 mb-4">
  <h2>Niaje, I'm Frank Leons Malisawa</h2>
  <div class="w-full flex gap-4">
    <!-- location -->
    <div class="px-4 py-1 flex items-center gap-4 border-solid rounded-lg border">
      <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'solid/map-pin.svg'"></app-facon-sm-regular>
      <p class="text-slate-400">Dar Es Salaam, Tanzania</p>
    </div>
    <!-- github -->
    <div class="px-4 py-1 flex items-center gap-4 border-solid rounded-lg border">
      <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/github-alt.svg'"></app-facon-sm-regular>
      <a href="#" class="underline text-slate-400">github/frinnolab</a>
    </div>

  </div>

  <div class="w-full flex flex-col gap-4 border-solid rounded-lg border px-4 py-2">
    <!-- Bio -->
    <div class="w-full flex flex-col gap-4">
      <p>Bio:</p>
      <article class="text-slate-400">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga sint corporis quos molestiae. Sint sunt recusandae accusamus inventore molestias. Neque.
      </article>
    </div>

    <!-- Skills -->
    <div class="w-full flex flex-col gap-4">
      <p>Skills:</p>
      <article class="text-slate-400">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga sint corporis quos molestiae. Sint sunt recusandae accusamus inventore molestias. Neque.
      </article>
    </div>
  </div>
</div>
</div>
