<div class="flex flex-col bg-white rounded-2xl p-4">
    <div class="flex justify-between items-center">
        <p class="text-frnHot lg:text-4xl text-2xl">{{projectDetail.title}}</p>

        <button class="flex justify-center items-center rounded-full bg-slate-300 hover:bg-slate-200 hover:shadow-md p-4" (click)="onClose()">
            <i class="fa fa-compress-alt text-frnBase"></i>
        </button>
    </div>
    <!-- Card Content -->
    <div class="flex flex-col">
        <div>
            <p class="text-2xl">Overview</p>
            <p class="text-xl">Type <i class="fa fa-server text-frnBase"></i></p>
            <article class="text-xl">{{projectDetail.description}}</article>
        </div>
        <hr>
        <div>
            <p class="text-2xl">Status</p>
            <p class="text-xl">{{projectDetail.project_status}}</p>
        </div>
        <hr>
        <div>
            <p class="text-2xl">Duration</p>
            <p class="text-xl"><i class="fa fa-stopwatch text-frnBase"></i> {{'28 Months'}}</p>
        </div>
        <hr>
        <div>
            <p class="text-2xl">Links</p>

            <div class="flex justify-start gap-2 items-center">
                <a href="#" class="flex items-center">
                  <i class="block fa fa-server text-frnBase"></i>
                  <!-- p-type -->
                </a>
                <a href="#" class="flex items-center">
                  <i class="block fa fa-link text-frnBase"></i>
                  <!-- p-url -->
                </a>
                <a href="#" class="flex items-center">
                  <i class="block fa fa-lock text-frnBase"></i>
                  <!-- p-git -->
                </a>
  
                <!-- <button class="text-frnBase border border-frnBase px-4 py-2 rounded-md hover:bg-frnBase hover:text-white"  (click)="onView(pj?.id)">View</button> -->
              </div>
        </div>
    </div>
    <!-- Card Content End -->
</div>
