<div class="w-full flex md:flex-row flex-col justify-center items-center px-4 py-2">
<!-- Socials -->
<div class="w-full flex md:flex-row flex-col items-center">
  <p>Follow me around the web.</p>
  <!-- twitter -->
  <app-facon-sm-regular class="p-2 rounded-full hover:bg-frnAccent" [icon]="'brands/twitter.svg'"></app-facon-sm-regular>
  <!-- linkedin -->
  <app-facon-sm-regular class="p-2 rounded-full hover:bg-frnAccent" [icon]="'brands/linkedin.svg'"></app-facon-sm-regular>
<!-- yt -->
<app-facon-sm-regular class="p-2 rounded-full hover:bg-frnAccent" [icon]="'brands/youtube.svg'"></app-facon-sm-regular>
<!-- tiktok -->
<app-facon-sm-regular class="p-2 rounded-full hover:bg-frnAccent" [icon]="'brands/tiktok.svg'"></app-facon-sm-regular>
</div>
<div>
</div>
</div>
