<div class="w-full flex justify-center items-center px-4 py-2 bg-coreSky">
<!-- Socials -->
<div class="w-full flex items-center">
  <p>Follow me around the net.</p>
  <!-- twitter -->
  <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/twitter.svg'"></app-facon-sm-regular>
  <!-- linkedin -->
  <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/linkedin.svg'"></app-facon-sm-regular>
<!-- yt -->
<app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/youtube.svg'"></app-facon-sm-regular>
<!-- tiktok -->
<app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/tiktok.svg'"></app-facon-sm-regular>
</div>
<!-- flash-actions -->
<div class="w-full flex items-center">
  <p class="flex items-center">Do you have a development story to tell?.
    <span class="flex items-center gap-2 hover:underline hover:dot">
    start here
    <app-facon-sm-regular class="rounded-full p-2 hover:bg-coreDeepSky" [icon]="'solid/file-pen.svg'"></app-facon-sm-regular>
  </span>
  </p>

</div>
<!-- profile/auth -->
<div>
</div>
</div>
