<div class="w-full flex flex-col gap-4 border-b-2">
  <h2 class="my-2">My Recent Projects</h2>

  <div class="w-full flex justify-between gap-10 mb-10">
    <div *ngFor="let data of dataList">
      <!-- Project card -->
      <div class="w-full flex flex-col gap-4 border-solid rounded-lg border px-4 py-2 mb-4 shadow-sm">
        <h3>{{data?.title}}</h3>
        <article>{{data?.description}}</article>

        <!-- Links -->
        <div class="w-full flex justify-between">
          <!-- Version Ctr -->
          <a class="w-full flex items-center underline hover:text-coreDeepSky" href="#">
            <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/github.svg'"></app-facon-sm-regular>
            {{data.url}}
          </a>
          <!-- Preview -->
          <a class="w-full flex items-center underline hover:text-coreDeepSky" href="#">
            <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'solid/earth-africa.svg'"></app-facon-sm-regular>
            {{data.preview_url}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
