<div class="w-full flex justify-center items-center p-12 bg-coreDeepBase min-h-screen">
  <form [formGroup]="regForm" class="bg-white rounded-xl shadow-md w-6/12 flex flex-col gap-4" (ngSubmit)="onRegister()">
    <div class="flex flex-col gap-2 px-16 mt-6">
      <h1>Register</h1>
      <div class="flex gap-2">
        <p>or</p>
        <a href="/login">Login</a>
      </div>
    </div>
    <div class="flex justify-between items-center px-16 gap-4">
      <!-- fname -->
      <div class="flex flex-col gap-2 w-full">
        <label for="firstname">Firstname</label>
        <input type="text" formControlName="firstName" class="bg-coreSky px-6 py-2" placeholder="Enter Firstname">
      </div>
      <!-- lname -->
      <div class="flex flex-col gap-2 w-full">
        <label for="lastname">Lastname</label>
        <input type="text" formControlName="lastName" class="bg-coreSky px-6 py-2" placeholder="Enter Lastname">
      </div>
    </div>
    <!-- email -->
    <div class="flex flex-col gap-2 px-16">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="bg-coreSky px-6 py-2" placeholder="Enter Email">
    </div>
    <!-- pssword  -->
    <div class="flex justify-between items-center px-16 gap-4">
      <div class="flex flex-col gap-2 w-full">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="bg-coreSky px-6 py-2" placeholder="Enter Password">
      </div>
      <div class="flex flex-col gap-2 w-full">
        <label for="confirm password">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="bg-coreSky px-6 py-2" placeholder="Confirm Password">
      </div>
    </div>

    <!-- Contact -->
    <div class="flex justify-between items-center px-16 gap-4">
      <div class="flex flex-col gap-2 w-full">
        <label for="Mobile">Mobile</label>
        <input type="tel" formControlName="mobile" class="bg-coreSky px-6 py-2" placeholder="Enter Mobile">
      </div>
      <div class="flex flex-col gap-2 w-full">
        <label for="City">City</label>
        <input type="text" formControlName="city" class="bg-coreSky px-6 py-2" placeholder="Enter City">
      </div>
    </div>


    <!-- Submit -->
    <button class="bg-coreDeepSky px-12 py-6 text-white rounded-bl-lg rounded-br-lg hover:bg-coreDeepBase">
      Sign Up
    </button>
  </form>
</div>
