<app-layout></app-layout>
<div class="w-full flex flex-col gap-4 min-h-screen">
  <!-- Projects Hero -->
  <div class="mb-4 top-0 p-10 flex justify-between gap-4 bg-frnAccent bg-opacity-10">
    <div class="flex flex-col gap-4 text-center justify-center">
      <p class="text-6xl text-frnBase self-start"> <span class="text-frnHot text-opacity-90">Projects.</span>Repository</p>
      <p class="text-4xl self-start">Here are some of the Projects i've been involved in.!</p>
    </div>
    
    <img class="w-1/3 h-1/3 block" src="assets/svgs/logos/code-bro-0.svg" alt="">
  </div>

  <!-- Projects Container -->

  <div class="flex flex-col gap-8 my-8 px-10">
    <!-- Project List -->
    <div class="w-full flex flex-col gap-4 border-b-2">
      <p class="my-2 text-4xl">My Recent Projects</p>
    
      <div class="w-full flex justify-between gap-10 mb-10">
        <div *ngFor="let data of dataList">
          <!-- Project card -->
          <div class="w-full flex flex-1 flex-col gap-4  bg-frnAccent  bg-opacity-10 hover:shadow-md hover:bg-frnLight rounded-2xl border px-4 py-2 mb-4 shadow-sm">
            <p class="text-2xl">{{data?.title}}</p>
            <article>{{data?.description}}</article>
    
            <!-- Links -->
            <div class="w-full flex justify-between">
              <!-- Version Ctr -->
              <a class="w-full flex items-center underline hover:text-coreDeepSky" href="#">
                <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'brands/github.svg'"></app-facon-sm-regular>
                {{data.url}}
              </a>
              <!-- Preview -->
              <a class="w-full flex items-center underline hover:text-coreDeepSky" href="#">
                <app-facon-sm-regular class="p-2 rounded-full hover:bg-coreDeepSky" [icon]="'solid/earth-africa.svg'"></app-facon-sm-regular>
                {{data.preview_url}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Project List END-->

    <!-- Projects Techs Summary -->
  <div class="rounded-2xl w-full flex flex-col justify-center items-center gap-4 bg-frnAccent bg-opacity-10 text-center p-12 text-frnAccent">
    <p class="text-4xl text-frnBase text-center">This Site's Technology Stack:</p>

    <div class="w-full flex flex-col gap-4">
      <img class="w-10 h-10" src="assets/svgs/solid/quote-left.svg" alt="" srcset="">
      <p class="text-2xl"><span class="text-frnHot text-3xl text-opacity-90">Are</span> you looking to <span class="text-frnHot text-3xl text-opacity-90">{{currentTopic?.title}}</span> me on a <span class="text-frnHot text-3xl text-opacity-90">Project</span> ?.</p>
      <img class="w-10 h-10 self-end" src="assets/svgs/solid/quote-right.svg" alt="" srcset="">
    </div>


    <button class="text-frnAccent border border-frnAccent px-8 py-4 rounded-md hover:bg-frnAccent hover:bg-opacity-90 hover:text-frnLight">Contact me</button>
  </div>
  </div>

</div>
<app-footer></app-footer>
