<div class="w-full text-2xl">
    <p class="md:text-2xl text-frnDark">Overview</p>
    <p class="md:text-xl">Manage all your resources.</p>

    <!-- Section Cards ☺☻ ☺☻-->
    <div class="w-full flex flex-col justify-between items-center gap-4 
        md:flex md:flex-row md:justify-between">
        <div class="
            w-full shadow bg-slate-100 
            p-4
            rounded-md
            flex-1
            flex flex-col gap-4" *ngFor="let section of sections">
            <div class="flex justify-start gap-4 items-center w-full">
                <p class="flex-1 md:text-2xl">{{section.title}}</p>
                <p class="self-start text-lg">{{section.count}}</p>
            </div>

            <div class="flex justify-center">
                <p class="p-12 text-2xl bg-frnHot bg-opacity-50 rounded-full"><i class="{{section.avatar}} fa-lg"></i></p>
            </div>

        <button 
            class="border-frnBase border px-4 py-2 
            rounded md:text-lg text-base
            hover:bg-frnBase hover:text-white"
            (click)="switchSection(section)">Manage
        </button>
        </div>
    </div>
</div>
