<div class="w-full min-h-screen bg-slate-300
flex justify-between">
<!-- Side Nav -->
<ul class="w-1/5 min-h-screen
bg-frnDark
flex flex-col">
    <div class="p-4 bg-slate-200">
        <p>Hello</p>
        <p>{{currentUser.email ?? ''}}</p>
    </div>
    <div class="flex-1 w-full flex flex-col">
        <li class="list-container w-full" [ngClass]="{'active-link': currentSection?.isActive}" *ngFor="let nav of navs">
            <a class="w-full" (click)="switchNav(nav)">{{nav.title}}</a>
        </li>
    </div>
    <li class="list-container"><a href="#" (click)="onLogOut()">Logout</a></li>
</ul>
<!-- Content -->
<div class="w-full min-h-screen p-4
    flex flex-col">
    <div class="flex gap-4">
        <p class="text-2xl">Welcome:</p>
        <p class="text-2xl">{{currentUser.email ?? ''}}</p>
    </div>
    <div>
        <p *ngIf="currentSection?.id === 0">Dash</p>
        <p *ngIf="currentSection?.id === 1">Profile</p>
        <p *ngIf="currentSection?.id === 2">Articles</p>
        <p *ngIf="currentSection?.id === 3">Projects</p>
        <p *ngIf="currentSection?.id === 4">Resume</p>
    </div>

    <!-- Sections -->
</div>
</div>