<div class="w-full min-h-screen bg-slate-300
flex justify-between">
<!-- Side Nav -->
<ul class="w-1/5 min-h-screen
bg-frnDark
flex flex-col">
    <div class="p-4 bg-slate-200">
        <p>Hello</p>
        <p>{{currentUser.email ?? ''}}</p>
    </div>
    <div class="flex-1 w-full flex flex-col">
        <li class="list-container w-full" (click)="switchNav(nav)" [ngClass]="{'active-link': nav.isActive}" *ngFor="let nav of navs">
            <a class="w-full" >{{nav.title}}</a>
        </li>
    </div>
    <li class="list-container"><a href="#" (click)="onLogOut()">Logout</a></li>
</ul>
<!-- Content -->
<div class="w-full min-h-screen p-4
    flex flex-col">
    <div class="flex gap-4">
        <p class="text-2xl">Welcome:</p>
        <p class="text-2xl">{{currentUser.email ?? ''}}</p>
    </div>
    <div>
        <p *ngIf="currentSection?.id === 0">Dash</p>
        <app-dash-profile *ngIf="currentSection?.id === 1"></app-dash-profile>
        <app-dash-articles *ngIf="currentSection?.id === 2"></app-dash-articles>
        <app-dash-projects *ngIf="currentSection?.id === 3"></app-dash-projects>
        <app-dash-resume *ngIf="currentSection?.id === 4"></app-dash-resume>
    </div>

    <!-- Sections -->
</div>
</div>